<!DOCTYPE html>
<html ng-app="mdpreview">
<head>
<meta charset="UTF-8">
<title>Electron Markdown Preview and Convert</title>
<!--<link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">-->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="tomorrow-night-blue.css">
</head>
<body ng-controller="MainController as main">

<div ng-if="!main.openfile">
    <h1>MarkdownをOpenしてください</h1>
</div>

<div ng-if="main.openfile">
    <!--<div>{{main.openfile}}</div>-->
    <!--タブ-->
    <uib-tabset active="active">
        <!--生のHTMLプレビュー-->
        <uib-tab index="0" heading="HTMLPreview">
            <iframe id="html-preview" class="row-html" src=""></iframe>
        </uib-tab>
        <!--置換リスト-->
        <uib-tab index="1" heading="PostReplaceList">
            <div ng-if="main.htmlfilepath">
                <div replist-view="main.replacelist"></div>
            </div>
        </uib-tab>
        <!--Markdownのプレビュー-->
        <uib-tab index="2" heading="HTML">
            <div ng-if="main.htmlfilepath">
                <div html-view="main.fileHTML"></div>
            </div>
        </uib-tab>
        <!--Vivliostyleを使ったプレビュー-->
        <uib-tab index="3" heading="VivliostylePreview">
            <iframe id="vs-preview" class="vs-html" src=""></iframe>
        </uib-tab>
        <!--ツール-->
        <uib-tab index="4" heading="Tools">
            <div ng-if="main.htmlfilepath">
                <h3>画像のSVG変換ツール</h3>
                <p>このツールは元原稿のMarkdownファイルを書き換えます。
                   不安な場合は元原稿のバックアップを取ってください。</p>
                <dl>
                    <dt>最大幅（mm）</dt>
                    <dd><input id="maxwidth" type="number" value="120"></dd>
                    <dt>倍率（scale=1.0）</dt>
                    <dd><input id="scale" type="number" value="0.4"></dd>
                    <dt>解像度（dpi）</dt>
                    <dd><input id="density" type="number" value="72"></dd>
                </dl>
                <button ng-click="main.svgConvert()">Convert From MDImage</button>
                <button ng-click="main.svgUpdate()">Update SVGImage</button>
            </div>
        </uib-tab>
    </uib-tabset>
</div>


<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="index.js"></script>

</body>
</html>