<!DOCTYPE html>
<html ng-app="mdpreview">
<head>
<meta charset="UTF-8">
<title>Electron Markdown Preview and Convert</title>
<!--<link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">-->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
</head>
<body ng-controller="MainController as main">

<div ng-if="!main.openfile">
    <h1>MarkdownをOpenしてください</h1>
</div>

<div ng-if="main.openfile">
    <div>{{main.openfile}}</div>
    <!--タブ-->
    <uib-tabset active="active">
        <!--生のHTMLプレビュー-->
        <uib-tab index="0" heading="HTMLPreview">
            <iframe id="html-preview" class="row-html" src=""></iframe>
        </uib-tab>
        <!--Markdownのプレビュー-->
        <uib-tab index="1" heading="HTML">
            <div ng-if="main.openfile">
                <div md-preview="main.fileText"></div>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="PostReplaceList">
            置換リスト
        </uib-tab>
        <!--Vivliostyleを使ったプレビュー-->
        <uib-tab index="3" heading="LinkToVivliostyle">
            <div class="guide">
                <h2>以下は現在実装中です。</h2>
                <h2>Vivliostyleプレビューガイド</h2>
                <p>Vivliostyleを使って書籍形式のプレビューする方法を説明します。</p>
                <h3>1. Viewerの準備</h3>
                <p>以下からVivliostyle.jsをdownloadし、解凍したファイル内のViewerフォルダをMarkdownファイルと同じフォルダ内に置きます。</p>
                <p><a href="http://vivliostyle.com/ja/products/#secProducts-download" target="_blank">
                    http://vivliostyle.com/ja/products/#secProducts-download
                    </a>
                </p>
                <h3>2. Webサーバの起動</h3>
                <p> [book]->[start web server] を選択してWeb Serverを起動します。</p>
                <h3>3. ファイルを開く</h3>
                <p> 以下のlinkをclickするとファイルが開かれます。</p>
            </div>
        </uib-tab>
    </uib-tabset>
</div>



<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="index.js"></script>

</body>
</html>